bower_components
*.log
_lint
.editorconfig
.gitattributes
.idea
.travis.yml
composer.json
composer.lock
composer.phar
dist
doc
example
Gruntfile.js
node_modules
package.json
phpunit.xml
travis-ci.xml
vendor